@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #d8d8d8f7;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}
li{
  list-style: none;
  
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: red;
}
header, footer{
    background-color: #0d0d0de8;
    color: white;
    padding-bottom: 20px;
}
/***maquetar header***/
.logo{
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
}



main{
   
    width: 100%;
 
}

/**banner**/
.banner{
    background-image: url("../img/banner.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner div{
    width: 700px;
    display: flex;
    justify-content: flex-end;
}
h1{
    font-size: 50px;
    
}
/* main**/
h2,h3{
    text-align: center;
}
/**section principal**/
/**card*/
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    
    margin: 20px;
}
.card figure{
    display: flex;
    justify-content: center;
}

/* gridss*/
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.principal-txt{
    width: 70%;
    text-align: center;

}
.grid{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: center;
    grid-template-areas: 
    "principal principal principal principal"
    "sec-1      sec-1     sec-2      sec-2"
    "sec-3       sec-3    sec-4      sec-4"
    "parrafito  parrafito  parrafito  parrafito"
    ;
}
.principal{
    
    grid-area: principal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.sec-1{
    grid-area: sec-1;
}
.sec-2{
    grid-area: sec-2;
}
.sec-3{
    grid-area: sec-3;
}
.sec-4{
    grid-area: sec-4;
}
.parrafito{
    grid-area: parrafito;
    padding: 25px 0px;
}

footer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}
.footer-list{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
