@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #d8d8d8f7;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}
li{
  list-style: none;
  
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: red;
}
header, footer{
    background-color: #0d0d0de8;
    color: white;
    padding-bottom: 20px;
}
/***maquetar header***/
.logo{
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
}



main{
    padding-bottom: 30px;
}

/**banner**/
.banner{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner div{
    width: 700px;
    display: flex;
    justify-content: flex-end;
}
h1{
    font-size: 50px;
    
}
