@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #d8d8d8f7;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}
li{
  list-style: none;
  
}
li a{
    color: white;
    text-decoration: none;
}
header, footer{
    background-color: #0d0d0de8;
    color: white;
    padding-bottom: 20px;
}
main{
    padding-bottom: 30px;
}
.banner{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
  
}

